.active a:link {
    background-color: rgb(0, 228, 0);
}

nav {
    top: 0px;   
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav>ul li {
    position: relative;
    text-align: center;
    font-weight: bold;
    color: white;
    float: left;
}
nav a {
    text-decoration: none;
    display: inline-block;
    border: 2px solid black;
    padding: 15px 15px 15px 15px;
    width: 150px;
    margin: 2px;
}

nav a:link{
    background-color: rgb(4, 164, 4);
}
nav a:hover, nav a:focus {
    background-color: lightgray;
}
nav a:active{
    background-color: greenyellow;
}

nav ul>li ul {
    position: absolute;
    top: 100%;
    display: none;
}
nav ul ul li {
    float:none;
}

nav>ul>li:hover>ul{
    display: block;
}

header{
    clear:both;
    padding-top: 30px;
}

h1{
    text-align: center;
}